<div class="card">
  <img
    *ngIf="product.imageUrl"
    [src]="product.imageUrl"
    (click)="goToDetails()"
    class="card-img-top"
    alt="Card image cap"
    style="width: 100%"
  >
  <h4
    (click)="goToDetails()"
    class="card-title"
  >
    {{product.name}}
  </h4>
  <div class="card-body">
    <p
      *ngIf="product.available; else productGrowing"
      class="card-price text-accent"
    >
      {{product.price | currency: 'PLN'}}
    </p>
    <ng-template #productGrowing>
      <p
        *ngIf="product.name"
        class="card-price text-accent text-muted"
      >
        Produkt rośnie na naszym polu
      </p>
    </ng-template>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block"
      [disabled]="!product.available"
    >
      Dodaj do koszyka
    </button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart">
      </product-quantity>
    </ng-template>
  </div>
</div>
