<div class="card">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="Card image cap" style="width: 100%">
  <h4
    [routerLink]="['/produkt/' + productLink(product) + '/', product.key]"
    class="card-title">{{product.name}}</h4>
  <div class="card-body">
    <p class="card-price text-accent">{{product.price | currency: 'PLN'}}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
            *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
            (click)="addToCart()"
            class="btn btn-secondary btn-block">Dodaj do koszyka</button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart">
      </product-quantity>
    </ng-template>
  </div>
</div>
