<div
  *ngIf="!(uid$ | async)"
  class="row">

  <div class="row">
    <label for="email">Email</label>
    <input #email="ngModel" [(ngModel)]="user.email" class="form-control"
           type="email"
           name="email"
           id="email">
  </div>

  <div class="row">
    <label for="password">Hasło</label>
    <input #password="ngModel" [(ngModel)]="user.password" class="form-control"
           type="password"
           id="password">
  </div>

  <div class="row mt-10">
    <button
      (click)="login()"
      class="btn btn-success"
      >
      Login
    </button>

    <button
      routerLink="/rejestracja"
      class="btn btn-secondary pull-right"
      >
      Rejestruj
    </button>
  </div>
</div>
