<responsive-switcher>
  <component-title [title]="dietOptionsTitle"></component-title>
  <form id="content" #form="ngForm">
    <div class="col-md-6">
      <div [ngClass]="(areNutrientsValid) ? 'has-error' : ''">

        <div class="row">
          <label for="proteins">Procentowa liczba białek</label>
          <div class="input-group">
            <input #maxProteins="ngModel" [(ngModel)]="appUser$.nutrientsPercentage.proteins"
                   (change)="appUser$.maxNutrients.proteins = proteinsIntake"
                   class="form-control"
                   minValue="1" maxValue="100"
                   name="proteins" id="proteins"
                   type="number" required placeholder="Procent białek" minlength="3">
            <span class="input-group-addon">%</span>
          </div>
          <div class="alert alert-danger" *ngIf="maxProteins.touched && maxProteins.invalid">
            <div *ngIf="maxProteins.errors.required">Podaj procentową ilość białek.</div>
            <div *ngIf="maxProteins.errors?.minValue">Liczba nie może być mniejsza od 1.</div>
            <div *ngIf="maxProteins.errors?.maxValue">Liczba nie może być większa od 100.</div>
          </div>
        </div>

        <div class="row">
          <label for="carbs">Procentowa liczba węglowodanów</label>
          <div class="input-group">
            <input #maxCarbs="ngModel" [(ngModel)]="appUser$.nutrientsPercentage.carbs"
                   (change)="appUser$.maxNutrients.carbs = carbsIntake"
                   class="form-control"
                   minValue="1" maxValue="100"
                   name="carbs" id="carbs"
                   type="number" required placeholder="Procent węglowodanów" minlength="3">
            <span class="input-group-addon">%</span>
          </div>
          <div class="alert alert-danger" *ngIf="maxCarbs.touched && maxCarbs.invalid">
            <div *ngIf="maxCarbs.errors.required">Podaj procentową ilość węglowodanów.</div>
            <div *ngIf="maxCarbs.errors?.minValue">Liczba nie może być mniejsza od 1.</div>
            <div *ngIf="maxCarbs.errors?.maxValue">Liczba nie może być większa od 100.</div>
          </div>
        </div>

        <div class="row">
          <label for="fats">Procentowa liczba tłuszczów</label>
          <div class="input-group">
            <input #maxFats="ngModel" [(ngModel)]="appUser$.nutrientsPercentage.fats"
                   (change)="appUser$.maxNutrients.fats = fatsIntake"
                   class="form-control"
                   minValue="1" maxValue="100"
                   name="fats" id="fats"
                   type="number" required placeholder="Procent tłuszczów" minlength="3">
            <span class="input-group-addon">%</span>
          </div>
          <div class="alert alert-danger" *ngIf="maxFats.touched && maxFats.invalid">
            <div *ngIf="maxFats.errors.required">Podaj procentową ilość tłuszczów.</div>
            <div *ngIf="maxFats.errors?.minValue">Liczba nie może być mniejsza od 1.</div>
            <div *ngIf="maxFats.errors?.maxValue">Liczba nie może być większa od 100.</div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="alert alert-danger" *ngIf="areNutrientsValid">
          <div>Procentowa suma makroskładników musi wynosić 100.</div>
        </div>
      </div>

      <div class="row mt-10">
        <button [disabled]="(form.invalid) || areNutrientsValid" (click)="onAccept()"
                class="btn btn-success">Zapisz
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h4 class="card-title">Podsumowanie</h4>
        <div class="card-body">
          <p>Maksymalna liczba kalorii: {{appUser$.maxNutrients.maxCalories}}</p>
          <p>z czego: </p>
          <div class="card-detials">
            <br/>
            <p>Białko: {{appUser$.maxNutrients.proteins}} g</p>
            <p>Węglowodany: {{appUser$.maxNutrients.carbs}} g</p>
            <p>Tłuszcze: {{appUser$.maxNutrients.fats}} g</p>
          </div>

        </div>
      </div>
    </div>
  </form>

  <component-description [description]="dietDescription"></component-description>

  <adsense-bottom></adsense-bottom>

</responsive-switcher>
