<div class="card">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="Card image cap" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.price | currency: 'PLN'}}</p>
  </div>
  <div *ngIf="showActions" class="card-footer no-gutters">
    <button
            *ngIf="getQuantity() === 0; else updateQuantity"
            (click)="addToCart()"
            class="btn btn-secondary btn-block">Dodaj do koszyka</button>
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-2">
          <button
            (click)="removeFromCart()"
            class="btn btn-secondary btn-block">-</button>
        </div>
        <div class="col text-center">
          {{getQuantity()}} w koszyku
        </div>
        <div class="col-2">
          <button
            (click)="addToCart()"
            class="btn btn-secondary btn-block">+</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
