.row {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

table > tbody > tr > th {
  font-weight: normal;
}

#subtitle {
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  color: #ccc;
}
