<component-title [title]="dietHoursTitle"></component-title>

<div [ngClass]="(isHandset$ | async) ? 'mobile-content' : 'desktop-content'">
  <div id="subtitle" class="text-center">{{date}}</div>
  <div *ngIf="date" class="alert alert-warning">Każda operacja spowoduje usunięcie</div>

  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-left">Nazwa</th>
        <th class="text-center">Godzina</th>
        <th class="text-right">Usuń</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let meal of meals; let i = index">
        <th class="text-left">{{meal.name}}</th>
        <th class="text-center">{{meal.time}}</th>
        <th class="text-right">
          <a type="button" class="close" aria-label="Close">
          <span (click)="delete(i)" aria-hidden="true">
            &times;
          </span>
          </a>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="row">
      <a
        class="btn btn-success"
        #addMealButtonElement
        [ngClass]="(addMealButtonElement.hidden) ? 'hidden' : 'visible'"
        (click)="addMealButtonElement.hidden = true;">
        Dodaj posiłek
      </a>

      <a *ngIf="date"
         class="btn btn-success pull-right"
         (click)="deleteDailyHours()">
        Przywróć ogólne
      </a>

      <div class="row"
           *ngIf="!addMealButtonElement.hidden; else newMealTime">
      </div>

      <div class="row mt-10">
        <button
          class="btn btn-default pull-right"
          *ngIf="addMealButtonElement.hidden"
          (click)="addMealButtonElement.hidden = false">
          Zamknij
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <component-description [description]="description" ></component-description>
  </div>

  <ng-template #newMealTime>

    <form #form="ngForm">

      <div class="row">
        <label for="name">Nazwa posiłku</label>
        <input #name="ngModel" [(ngModel)]="meal.name" class="form-control" name="name" id="name" type="text"
               required placeholder="Nazwa posiłku" maxlength="100">
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">Wpisz nazwę posiłku</div>
        </div>
      </div>

      <label for="hour">Godzina</label>
      <mat-select id="hour" [(value)]="meal.time">
        <mat-option *ngFor="let item of hours" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>

      <div class="row mt-10">
        <button
          class="btn btn-success"
          type="button"
          [disabled]="!form.valid || !meal.time"
          (click)="onAccept()">
          Zapisz
        </button>

        <button
          class="btn btn-danger pull-right"
          type="button"
          (click)="resetForm()">
          Resetuj
        </button>
      </div>

    </form>
  </ng-template>

</div>
