<responsive-switcher>

  <form #form="ngForm">
    <div *ngIf="product; else noProduct">
      <div class="col-md-6">
        <div class="row">
          <label for="name">Nazwa produktu</label>
          <input #name="ngModel" [(ngModel)]="product.name" class="form-control" name="name" id="name" type="text"
                 required placeholder="Nazwa produktu" maxlength="100">
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required">Wpisz nazwę produktu.</div>
          </div>
        </div>

        <div class="row">
          <label for="category">Kategoria</label>
          <mat-select id="category" required
                      [formControl]="categoryControl"
                      [(value)]="product.category"
                      [placeholder]="product.category">
            <mat-option [value]="null">-</mat-option>
            <mat-option *ngFor="let item of categories" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
          <div class="alert alert-danger"
               *ngIf="categoryControl.hasError('required') &&
               categoryControl.value == null && categoryControl.dirty">
            <div>Wybierz kategorię</div>
          </div>
        </div>

        <div class="row">
          <label for="price">Cena produktu</label>
          <div class="input-group">
            <input #price="ngModel" [(ngModel)]="product.price"
                   class="form-control"
                   min="0" minValue="0" maxValue="1000"
                   name="price" id="price"
                   type="number" required placeholder="Cena" minlength="0">
            <span class="input-group-addon">zł</span>
          </div>
          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.errors.required">Podaj cenę.</div>
            <div *ngIf="price.errors?.minValue">Cena nie może być mniejsza od 0.</div>
            <div *ngIf="price.errors?.maxValue">Cena nie może być większa od 1000.</div>
          </div>
        </div>

        <div class="row">
          <label for="imageUrl">Zdjęcie</label>
          <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl"
                 class="form-control"
                 name="imageUrl" id="imageUrl"
                 type="url" required placeholder="Link do zdjęcia - najlepiej *.JPG" minlength="0">
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
            <div *ngIf="imageUrl.errors.required">Dodaj link zdjęcia.</div>
          </div>
        </div>

        <div class="row">
          <label for="description">Opis <span style="font-size: xx-small">nieobowiązkowe</span></label>
          <textarea
            id="description"
            class="form-control"
            name="newsContent" type="text"
            placeholder="Opis"
            required
            rows="10"
            [(ngModel)]="product.description">
        </textarea>
        </div>

        <div class="row mt-10">
          <button (click)="onAccept(); resetForm()"
                  [disabled]="!form.valid || !product.imageUrl || !product.category"
                  class="btn btn-primary">
            Zapisz
          </button>
          <button *ngIf="!productId; else deleteButton" (click)="resetForm()"
                  class="btn btn-secondary pull-right">
            Resetuj
          </button>

          <ng-template #deleteButton>
            <button (click)="deleteProduct()"
                    class="btn btn-danger pull-right">
              Usuń
            </button>
          </ng-template>
        </div>
      </div>

      <div class="col-md-6">
        <product-card [product]="product" [show-actions]="false"></product-card>
      </div>
    </div>
  </form>

  <component-description [description]="description"></component-description>

  <ng-template #noProduct>
    <div class="row mt-10">
      <h3 class="text-center">Nie znaleziono produktu ;(</h3>
    </div>
  </ng-template>

</responsive-switcher>
