<responsive-switcher>

  <form #form="ngForm">
    <div *ngIf="product; else noProduct">
      <div class="col-md-6">
        <div class="row">
          <label for="name">Nazwa produktu</label>
          <input #name="ngModel" [(ngModel)]="product.name" class="form-control" name="name" id="name" type="text"
                 required placeholder="Nazwa produktu" maxlength="100">
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required">Wpisz nazwę produktu.</div>
            <div *ngIf="carbs.errors?.minValue">Ilość nie może być mniejsza od 0.1.</div>
            <div *ngIf="carbs.errors?.maxValue">Ilość nie może być większa od 1000.</div>
          </div>
        </div>

        <div class="row">
          <label for="category">Kategoria</label>
          <mat-select id="category" required
                      [formControl]="categoryControl"
                      [(value)]="product.category"
                      [placeholder]="product.category">
            <mat-option [value]="null">-</mat-option>
            <mat-option *ngFor="let item of categories" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
          <div class="alert alert-danger"
               *ngIf="categoryControl.hasError('required') &&
               categoryControl.value == null && categoryControl.dirty">
            <div>Wybierz produkt</div>
          </div>
        </div>

        <div class="row">
          <label for="proteins">Białko</label>
          <div class="input-group">
            <span class="input-group-addon">g</span>
            <input #proteins="ngModel" [(ngModel)]="product.nutrition.proteins"
                   class="form-control"
                   min="0" minValue="0" maxValue="1000"
                   name="proteins" id="proteins"
                   type="number" required placeholder="Proteiny" minlength="0">
            <span class="input-group-addon">.00</span>
          </div>
          <div class="alert alert-danger" *ngIf="proteins.touched && proteins.invalid">
            <div *ngIf="proteins.errors.required">Podaj ilość białka.</div>
            <div *ngIf="proteins.errors?.minValue">Ilość nie może być mniejsza od 0.</div>
            <div *ngIf="proteins.errors?.maxValue">Ilość nie może być większa od 1000.</div>
          </div>
        </div>

        <div class="row">
          <label for="carbs">Węglowodany</label>
          <div class="input-group">
            <span class="input-group-addon">g</span>
            <input #carbs="ngModel" [(ngModel)]="product.nutrition.carbs" class="form-control"
                   min="0" minValue="0" maxValue="1000"
                   name="carbs" id="carbs"
                   type="number" required placeholder="Węglowodany" minlength="0">
            <span class="input-group-addon">.00</span>
          </div>
          <div class="alert alert-danger" *ngIf="carbs.touched && carbs.invalid">
            <div *ngIf="carbs.errors.required">Podaj ilość węglowodanów.</div>
            <div *ngIf="carbs.errors?.minValue">Ilość nie może być mniejsza od 0.</div>
            <div *ngIf="carbs.errors?.maxValue">Ilość nie może być większa od 1000.</div>
          </div>
        </div>

        <div class="row">
          <label for="fats">Tłuszcze</label>
          <div class="input-group">
            <span class="input-group-addon">g</span>
            <input #fats="ngModel" [(ngModel)]="product.nutrition.fats" class="form-control"
                   min="0" minValue="0" maxValue="1000"
                   name="fats" id="fats"
                   type="number" required placeholder="Tłuszcze" minlength="0">
            <span class="input-group-addon">.00</span>
          </div>
          <div class="alert alert-danger" *ngIf="fats.touched && fats.invalid">
            <div *ngIf="fats.errors.required">Podaj ilość tłuszczy.</div>
            <div *ngIf="fats.errors?.minValue">Ilość nie może być mniejsza od 0.</div>
            <div *ngIf="fats.errors?.maxValue">Ilość nie może być większa od 1000.</div>
          </div>
        </div>

        <div class="row">
          <label for="photo">Zdjęcie*</label>
          <input
              #inputElement
              (change)="selectFileAndUpload($event)"
              id="photo" type="file" required
              accept="image/x-png,image/gif,image/jpeg,image/jpg">
        </div>
        <div class="alert alert-danger" *ngIf="inputElement.oninvalid">
          <div>Wprowadź zdjęcie produktu.</div>
        </div>

        <div class="row mt-10">
          <button (click)="onAccept(); resetForm()"
                  [disabled]="!form.valid || !product.imageUrl || !product.category"
                  class="btn btn-primary">
            Zapisz
          </button>
          <button *ngIf="!productId; else deleteButton" (click)="resetForm()"
                  class="btn btn-secondary pull-right">
            Resetuj
          </button>

          <ng-template #deleteButton>
            <button (click)="deleteProduct()"
                    class="btn btn-danger pull-right">
              Usuń
            </button>
          </ng-template>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="product.name" class="card">
          <img *ngIf="tempImageUrl$" [src]="tempImageUrl$" class="rounded-top" style="width: 100%;"
               alt="{{product.name}}">
          <mat-progress-bar
            [hidden]="photoUploaded"
            value="{{uploadProgress$}}"
            mode="determinate">
          </mat-progress-bar>
          <h4 class="card-title">{{product.name.charAt(0).toUpperCase() + product.name.substring(1)}}</h4>
          <div class="card-body">
            <p class="card-text">{{countCalories()}} kcal</p>
          </div>
        </div>
      </div>
    </div>
  </form>

  <component-description [description]="description" ></component-description>

  <ng-template #noProduct>
    <div class="row mt-10">
      <h3 class="text-center">Nie znaleziono produktu ;(</h3>
    </div>
  </ng-template>

</responsive-switcher>
