<div *ngIf="product.name" class="card">
  <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="rounded-top" alt="{{product.name}}" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">Kcal: {{product.nutrition.kcal}}</p>
    <p class="card-text">B: {{product.nutrition.proteins}}</p>
    <p class="card-text">W: {{product.nutrition.carbs}}</p>
    <p class="card-text">T: {{product.nutrition.fats}}</p>
  </div>
  <div class="bottom-panel">
    <button
      class="btn btn-success"
      type="button"
      (click)="onAccept()"
    >
      Akceptuj
    </button>
    <button
      class="btn btn-danger pull-right"
      type="button"
      (click)="onDelete()"
    >
      Usuń
    </button>
  </div>
</div>
