<div class="card">
  <div class="card-body">
    <h5 class="card-title">Podsumowanie zamówienia</h5>
    <p class="card-text">Masz {{cart.totalItemsCount}} produktów w koszyku.</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{item.quantity}} x {{item.name}}
        <div class="float-right">
          {{item.totalPrice | currency:'PLN':'symbol'}}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Suma
        <div class="float-right">
          {{cart.totalPrice | currency:'PLN':'symbol'}}
        </div>
      </li>
    </ul>
  </div>
</div>
