<responsive-switcher>

  <component-title [title]="Component.TITLE"></component-title>

  <form id="content" #form="ngForm">

    <div class="col-md-6">

      <div class="row">
        <label for="bigHeader">Duży news</label>
        <mat-radio-group
          id="bigHeader"
          [(ngModel)]="news.bigHeader"
          [ngModelOptions]="{standalone: true}">
          <mat-radio-button [value]="true">Tak</mat-radio-button>
          <mat-radio-button [value]="false">Nie</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row">

      </div>
      <div class="row">
        <label for="title">Tytuł</label>
        <input
          class="form-control"
          name="title" id="title" type="text"
          placeholder="Tytuł"
          required
          #title="ngModel"
          [(ngModel)]="news.title">
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.errors.required">{{Validation.CONTENT}}</div>
        </div>
      </div>

      <div class="row">
        <label for="newsContent">Treść</label>
        <textarea
          id="newsContent"
          class="form-control"
          name="newsContent" type="text"
          placeholder="Treść"
          required
          rows="20"
          #newsContent="ngModel"
          [(ngModel)]="news.content">
        </textarea>
        <div class="alert alert-danger" *ngIf="newsContent.touched && newsContent.invalid">
          <div *ngIf="newsContent.errors.required">{{Validation.TITLE}}</div>
        </div>
      </div>

      <div class="row">
        <label for="contentShort">Krótka treść widoczna na stronie głównej</label>
        <textarea
          id="contentShort"
          class="form-control"
          name="newsContentShort" type="text"
          placeholder="Treść"
          required
          rows="5"
          #newsContentShort="ngModel"
          [(ngModel)]="news.contentShort">
        </textarea>
        <div class="alert alert-danger" *ngIf="newsContentShort.touched && newsContentShort.invalid">
          <div *ngIf="newsContentShort.errors.required">{{Validation.CONTENT_SHORT}}</div>
        </div>
        <div>
          Ilość znaków:
          <span [ngClass]="(news.contentShort?.length > 200) ? 'error' : 'valid' &&
                           (news.contentShort?.length < 160) ? 'error' : 'valid'">
            {{news.contentShort?.length}} / 200
          </span>
        </div>
      </div>

      <div class="row mt-10">
        <input
          (change)="selectFileAndUpload($event)"
          id="photo" type="file" required
          accept="image/x-png,image/gif,image/jpeg,image/jpg">
        <ng-container *ngFor="let image of news.images; let i = index">
          <mat-card class="result">
            <mat-card-content>
              <section class="example-section">
                <mat-checkbox [checked]="imgHeaderUrl === i"
                              (change)="imgHeaderUrl = i; onHeaderImageChecked(image)"></mat-checkbox>
                <img [src]="image" (error)="image = imgTemp" width="25%">
                <span></span>
                <mat-icon (click)="onCopy(image)">file_copy</mat-icon>
                <span></span>
                <mat-icon (click)="onDelete(image, i)">delete_forever</mat-icon>
              </section>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>

      <div class="row mt-10">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!form.valid"
          (click)="onSave()">
          Zapisz
        </button>

        <button
          class="btn btn-danger pull-right"
          *ngIf="newsId"
          (click)="deleteNews()">
          Usuń
        </button>

      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        Tak będzie wyglądac news
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h4 class="card-title">{{news.title}}</h4>
        <div class="card-body" [innerHTML]="news.content">
        </div>
      </div>
    </div>


  </form>

</responsive-switcher>
