.desktop-ad {
  margin: auto auto -148px auto;

  //margin-left: auto;
  //margin-right: auto;
  //background-color: #b6b6b6;
  width: 100%;
  height: 90px;
}

.mobile-ad {
  margin: auto auto -68px auto;

  //margin-left: auto;
  //margin-right: auto;
  background-color: #5d5d5d;
  width: 280px;
  height: 60px;
}
