<responsive-switcher>
  <h1>Koszyk</h1>
  <ng-container *ngIf="cart$ | async as cart">
    <p>
      Masz {{ cart.totalItemsCount }} produktów w koszyku.
    </p>
    <table class="table">
      <thead>
      <tr>
        <th style="width: 230px">Produkt</th>
        <th class="text-center" style="width: 230px">Ilość</th>
        <th class="text-right" style="width: 200px">Cena</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          {{item.name}}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">
          {{(item.totalPrice) | currency: 'PLN'}}
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th class="text-right">{{cart.totalPrice | currency: 'PLN'}}</th>
      </tr>
      </tfoot>
    </table>
    <button
      (click)="clearCart()"
      class="btn btn-danger btn-sm">
      Usuń wszystkie produkty
    </button>
  </ng-container>
</responsive-switcher>
