<responsive-switcher>
  <h1>Koszyk</h1>
  <ng-container *ngIf="cart$ | async as cart">
    <p>
      Masz {{ cart.totalItemsCount }} produktów w koszyku.
      <button
        *ngIf="cart.items.length"
        (click)="clearCart()"
        class="btn btn-light btn-sm text-right">
        Usuń wszystkie produkty
      </button>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th style="width: 250px">Produkt</th>
        <th class="text-center" style="width: 300px">Ilość</th>
        <th class="text-right" style="width: 200px">Cena</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <a
            class="item-name"
            [routerLink]="['/produkt/' + productLink(item) + '/', item.key]">
            {{item.name}}
          </a>
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">
          {{(item.totalPrice) | currency: 'PLN'}}
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th class="text-right">{{cart.totalPrice | currency: 'PLN'}}</th>
      </tr>
      </tfoot>
    </table>
    <a
      *ngIf="cart.items.length"
      routerLink="/zamowienie"
      class="btn btn-primary">Złóż zamówienie</a>
  </ng-container>
</responsive-switcher>
