$content-margin-desktop: 15%;
$content-margin-mobile: 3%;
$text-color: white;
$text-color-menu: #313131;
$font-family: 'Poppins', sans-serif;
$background-color: #FFF;
$menu-background-color: #92b418;

/* Provides styles for components in application */
:host ::ng-deep .desktop-content {
  margin-top: 68px;
  margin-left: $content-margin-desktop;
  margin-right: $content-margin-desktop;
}

:host ::ng-deep .mobile-content {
  margin-top: 68px;
  margin-left: $content-margin-mobile;
  margin-right: $content-margin-mobile;
}

mat-toolbar div, a {
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-size: 100%;
  outline: none;
}

.mat-toolbar {
  padding-right: 15%;
  padding-left: 3%;
  background: $menu-background-color;
  z-index: 100 !important;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.sidenav {
  background-color: $background-color;
  width: 250px;
}

.sidenav .mat-toolbar {
  color: $text-color;
  background-color: $menu-background-color;
  z-index: 100 !important;
}

.sidenav-container {
  height: 100%;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.desktop-nav a {
  font-size: medium;
  color: $text-color;
  font-family: $font-family;
  font-weight: 300;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  border-right: 1px dotted #9dc915;
  min-height: 40px;
}

.desktop-nav a:hover {
  color: #313131;
  cursor: pointer;
}

.app-title-desktop {
  margin-left: $content-margin-desktop;
}

.mobile-nav {
  outline: none;
  margin-top: -10px;
}

.mobile-nav a {
  color: $text-color-menu;
  font-family: $font-family;
  font-weight: 300;
  display: inline-block;
  padding: 15px 0 16px 15px;
  border-bottom: 1px solid #e6e6e6;
  min-width: 250px;
}

.mobile-nav a:hover {
  color: #b6b6b6;
  cursor: pointer;
  background-color: inherit;
}

//.mobile-nav .app-title {
//  display: none;
//}

title {
  display: none;
}

.mobile-menu {
  padding-left: 0;
  background: $menu-background-color;
  z-index: 100 !important;
}

.app-title {
  color: $text-color;
  font-size: 120%;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-weight: 800;
  letter-spacing: 4px;
}

.position-fixed {
  position: fixed
}

.content {
  //margin-top: 58px
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.correct-position {
  margin-bottom: 4px;
}
