.row {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

table > tbody > tr > th {
  font-weight: normal;
}

.table {
  background-color: #fafafa;
}

a.btn.btn-primary {
  margin-top: -12px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
}

.table > tbody > tr:first-child > th {
  border-top: none;
}

.table {
  margin-top: -16px;
}

.searched-products {
  margin-top: auto;
}

.searched-products a {
  cursor: pointer;
  text-underline: none;
}

.spacer {
  flex: 1 0 0;
}

#deleteElement {
  cursor: pointer;
  color: #d1504d;
}

progress-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-products {
  margin: 16px auto auto 16px;
}

.text-normal {
  font-weight: normal;
}

ul > a {
  margin-left: -34px;
}

th > small {
  color: #9b9b9b;
}

th > a {
  cursor: pointer;
}
