<div *ngIf="!isLoading; else loadingProducts">
  <div class="col-md-12">
    <ng-container *ngFor="let item of newses">
      <div *ngIf="item.bigHeader">
        <news-big-tile [news]="item" [isAdmin]="admin"></news-big-tile>
      </div>
    </ng-container>
  </div>

  <div class="row">
    <div class="col-md-8">
      <ng-container
        *ngFor="let item of newses; let i = index">
        <div *ngIf="!item.bigHeader && i < Config.MAX_TILES">
          <news-tile [news]="item" [isAdmin]="admin"></news-tile>
        </div>
        <div
          id="ad"
          class="text-center"
          *ngIf="i == Config.AD_SENSE_NEWS">

          <ng-adsense
            [className]="'adsbygoogle'"
            [adClient]="'ca-pub-2226661081282412'"
            [adSlot]="7486736452"
            [display]="'block'"
            [adFormat]="'fluid'"
            [layout]="'-6t+ed+2i-1n-4w'"
          ></ng-adsense>

        </div>
        <div
          *ngIf="i >= Config.MAX_TILES">
          <div
            *ngIf="i == Config.MAX_TILES">
            <h4 class="text-center text-primary">
              <!-- I had to do that, it's ugly i I know. ;(-->
              &nbsp;<br/>
              Reszta aktualności
            </h4>
          </div>
          <ng-container
            [ngTemplateOutlet]="i >= Config.MAX_TILES ? archive : null"
            [ngTemplateOutletContext]="{item: item}">
          </ng-container>
        </div>

      </ng-container>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h4 class="card-title">Panel</h4>
        <div class="card-body">

          <google-button></google-button>
          <google-email></google-email>

          <ul></ul>

        </div>
      </div>
    </div>


  </div>

</div>

<ng-template #archive let-item="item">
  <p class="text-center">
    <a
      [routerLink]="['/aktualnosci/' + cuttedLink(item.title) + '/', item.id]">
      {{item.title}} {{item.date | date : 'd MMM y'}}
      <i
        class="material-icons hover md-18"
        *ngIf="admin"
        [routerLink]="['/aktualnosci/edycja/', item.id]">
        edit
      </i>
    </a>
    <span class="date text-primary">

    </span>
  </p>
</ng-template>
<ng-template #loadingProducts>
  <progress-spinner></progress-spinner>
</ng-template>
