<responsive-switcher>
  <div class="title">
    <span class="wegebus">wegebus</span> - <span class="title-second"><span class="bold">dowóz warzyw</span> na terenie <span
    class="bold">Kalisza i okolic</span></span>
  </div>
</responsive-switcher>
<div class="content">
  <div class="background">
    <div class="main-text">
      Polskie warzywa od <span class="polish">Polskiego rolnika</span>
    </div>
    <div class="check-offer text-center">
      <button class="btn btn-lg btn-success">Sprawdź ofertę</button>
    </div>
    <div class="secondary-text">
      <span class="text">Polskie odmiany ziemniaka, marchwii i pietruszki tylko u nas</span>
    </div>
  </div>
</div>

<span></span>
<div>
  <app-footer></app-footer>
</div>
