<responsive-switcher>
  <div class="title">
    <span class="wegebus">wegebus</span> - <span class="title-second"><span class="bold">dowóz warzyw</span> na terenie <span
    class="bold">Kalisza, Ostrowa i okolic</span></span>
  </div>
</responsive-switcher>
<div class="content">
  <div class="background">
    <div class="main-text">
      Polskie warzywa od <span class="polish">Polskiego rolnika</span>
    </div>
    <div class="check-offer text-center padding-top">
      <button
        routerLink="/produkty"
        class="btn btn-lg btn-success">
        Sprawdź ofertę
      </button>
    </div>
    <div class="padding-top"></div>
    <div class="secondary-text background-text">
      <span class="text-big">Zapraszamy do kontaktu</span>
      <p></p>
      <a
        class="secondary-text text-big clickable underline"
        href="tel: +48‭721099622‬"
      >
        ‭721 099 622‬
      </a>
      <p></p>
      <a
        class="secondary-text text-big clickable underline"
        href="mailto: biurowegebus@gmail.com"
      >
        biurowegebus@gmail.com
      </a>

    </div>
  </div>
</div>

<app-footer></app-footer>
