//.mobile-content, #content{ margin-top: 42px }
.content {
  height: 100vh;

  .background {
    background: linear-gradient(
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.01)
    ), url("src/assets/main-wallpaper.jpg");

    /* Full height */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-text {
    font-weight: 200;
    filter: brightness(100%);
    font-size: 4vh;
    padding-top: 48px;
    text-align: center;

    .polish {
      font-family: 'Indie Flower', cursive;
      font-size: 6vh;
      background: linear-gradient(-60deg, #904e95, #e73c7e, #ee7752);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }


  }
}


.title {
  margin: 96px auto 40px auto;
  font-size: xx-large;
  text-align: center;
  font-family: 'Indie Flower', cursive;

  .wegebus {
    background: linear-gradient(-60deg, #904e95, #e73c7e, #ee7752);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title-second {
    font-size: x-large;
    font-family: 'Poppins', cursive;
    font-weight: 100;

    .bold {
      font-weight: 300
    }
  }
}

.check-offer {
  padding-top: 200px;
  .btn {
    background: linear-gradient(-60deg, #904e95, #e73c7e, #ee7752);
    border-color: transparent;
  }
}

.secondary-text {
  font-weight: 300;
  filter: brightness(100%);
  font-size: 4vh;
  padding-top: 200px;
  text-align: center;
  color: whitesmoke;
  .text {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
  }
}
