<responsive-switcher>
  <form #form="ngForm">
    <div id="content" class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <div class="card">
          <img [src]="product.imageUrl" class="rounded-top" style="width: 100%;"
               alt="{{product.name}}">
          <h4 class="card-title">{{product.name}}</h4>
          <h4 class="card-title text-accent">{{product.price | currency: 'PLN'}}</h4>
          <div class="card-body text-accent">
            {{product.description}}
          </div>
        </div>
      </div>

      <div class="col-md-2"></div>
    </div>
  </form>
</responsive-switcher>

<!--<app-footer></app-footer>-->
