$hr-width: 97%;
$hr-color: #000;
$hr-margin: 6px auto 6px auto;

#content { height: 768px }
.nutrition { margin: 6px 12px 6px 12px }
.nutrition-secondary { margin: 6px 12px 6px 32px }
.title {
  font-size: 24px;
  font-weight: bolder;
}

.second-title > h4 {
  font-size: 18px;
  font-weight: bold;
}

.thick > hr {
  width: $hr-width;
  border-top: 10px solid $hr-color;
  margin: $hr-margin;
}

.medium > hr {
  border-top: 1px solid $hr-color;
  width: $hr-width;
  margin: $hr-margin;
}

.calories {
  font-size: 16px;
  font-weight: bold;
}

.card-title {
  font-weight: 400;
  margin: 12px 12px 12px 24px;
  &:first-of-type { margin-top: 24px }
  &.text-accent { font-weight: 300 }
}

.card-body {
  margin: 6px;
  font-weight: 300;
}
