$content-margin-desktop: -15%;
$content-margin-mobile: -3%;
$bg-color: #282828;
$font-color: #cccccc;
$accent-color: #888;

.desktop-menu {}
.mobile-menu {}
.col-xs-4 { background-color: #1c76ba }
p { color: $font-color }
.desktop-menu hr {
  border-top: 1px solid $accent-color;
  margin-right: -$content-margin-desktop + 2%;
}
.mobile-menu hr {
  border-top: 1px solid $accent-color;

}

#footer {
  margin-top: 32px;
  height: 235px;
  background-color: #282828;
  overflow: hidden;
}

h3 {
  color: $font-color;
  margin-top: -50px;
}

.page-version {
  font-size: 10px;
  letter-spacing: 1.5px;
}
